# DBMS & Database Services Reference Guide

**1. Database Service Types**
- **Managed SQL Services**: RDS, Azure SQL Database, Google Cloud SQL
  - MySQL: Open-source database ideal for web applications
  - PostgreSQL: Advanced features with high extensibility and standards compliance
  - Oracle Database: Enterprise-grade with PL/SQL programming capabilities
  - SQL Server: Microsoft ecosystem integration with T-SQL
  - SQLite: Lightweight, embedded database for local applications
- **NoSQL Database Services**
  - Document databases: MongoDB, CouchDB for JSON-like documents
  - Key-Value databases: Redis, DynamoDB, Memcached for simple lookup operations
  - Wide-Column databases: Cassandra, HBase for time-series and IoT data
  - Graph databases: Neo4j, Amazon Neptune for relationship-heavy data

**2. Specialized Database Systems**
- **Time-Series Databases**: InfluxDB, TimescaleDB for time-stamped data
- **In-Memory Databases**: Redis, Memcached for caching and real-time applications
- **Vector Databases**: Pinecone, FAISS, Weaviate for AI/ML embeddings and semantic search
- **Search Engines**: Elasticsearch, Solr for full-text search capabilities

**3. Data Architecture Patterns**
- **Database Architecture**: **Database = Storage Engine (InnoDB, WiredTiger) + Query Processor + Transaction Manager + Buffer Pool**
	- Traditional databases are *complete systems* with tightly coupled storage and compute, unlike lakes where they're separate.

- **Data Warehouse Architecture**: **Data Warehouse = Columnar Storage + MPP Query Engine + ETL Pipeline + Metadata Layer**
	- Examples: Snowflake = Cloud Storage + Virtual Warehouses, BigQuery = Colossus + Dremel engine.

- **Data Mart Architecture**: **Data Mart = Subset of DW Data + Department-Specific Schema + Optimized Indexes + Access Controls**
	- It's essentially a *filtered view* of the warehouse, not separate infrastructure.

- **ETL Architecture**: **ETL = Staging Area + Transform Engine (Informatica, SSIS) + Target Load**
	- Data is transformed *before* loading, requiring separate compute resources for transformation.

- **ELT Architecture**: **ELT = Raw Load + In-Database Transform (dbt, Spark SQL) + Target Schema**
	- ELT leverages the *target system's compute* instead of separate transformation servers.

- **Stream Processing Architecture**: **Stream Processing = Message Broker (Kafka) + Stream Engine (Flink, Kafka Streams) + State Store + Sink**
	- The *message broker* provides durability, the *engine* provides computation logic.

- **OLTP Architecture**: **OLTP = Row Storage + B-Tree Indexes + ACID Transactions + Connection Pooling**
	- OLTP optimizes for *single-row operations* with fast writes and consistent reads.

- **OLAP Architecture**: **OLAP = Columnar Storage + Bitmap Indexes + Parallel Query + Aggregation Cache**
	- OLAP optimizes for *bulk analytical scans* across millions of rows.

- **Data Catalog Architecture**: **Data Catalog = Metadata Repository + Crawler/Scanner + Search Index + Lineage Graph + UI**
	- The *crawlers* discover assets, the *graph* tracks relationships, UI provides discovery interface.

**5. Database Design Fundamentals**
- **ACID Properties**: Atomicity, Consistency, Isolation, Durability
- **Schema Design**: Proper normalization to reduce redundancy
- **Key Management**: Primary keys for unique identification, foreign keys for referential integrity
- **Performance Optimization**: Indexing strategies and query optimization
- **Data Integrity**: Constraints for validation and consistency

**6. Big Data & Analytics Services**
- **Data Warehousing**: Large-scale analytics solutions
- **ETL/ELT Tools**: Data transformation and loading pipelines
- **Real-time Analytics**: Streaming analytics platforms
- **Data Catalog**: Metadata management services
- **Business Intelligence**: Visualization and reporting tools
- **Distributed Computing**: Spark and Hadoop frameworks for big data processing

project1: frames&more:

- **Database Terminology Reference**
    - Schema: Logical structure defining tables, columns, and relationships
    - Instance: Actual data in database at a specific moment in time
    - View: Virtual table created from SELECT query results
    - Index: Data structure for faster record retrieval and query optimization
    - Constraint: Rules enforcing data integrity and validation
    - Domain: User-defined data type with allowable values
    - Table (Relation): Two-dimensional dataset organized in rows and columns
    - Row (Tuple): Single record instance containing related data
    - Column (Attribute): Named field with specific data type
    - Primary Key: Unique identifier for each row in a table
    - Foreign Key: Reference to primary key in another table
    - Trigger: Automatic procedure executed on table events
    - Stored Procedure: User-defined precompiled code block
    - Function: Database routine returning single value
    - Transaction: Sequence of operations treated as single unit
    - Join: Combine rows from multiple tables based on relationships
    - CTE (Common Table Expression): Temporary result set for complex queries
    - Normalization: Organizing data to reduce redundancy and improve integrity

- Session parameters / runtime configuration settings. - Useful after creation? âŒ Not really, unless you explicitly configure them globally like you put them in `postgresql.conf` or set them with ALTER DATABASE â€¦ SET

- Enums : predefined allowed values type.- Importance after use = guarantees long-term data consistency across the database and applications.-Compact & Fast â€“ stored internally as integers, faster than text for comparisons.

- CREATE INDEX = build a fast lookup path on a column.Indexes improve read performance, but slow down writes (INSERT/UPDATE/DELETE), since the index must be updated too.You donâ€™t need indexes on every column â€” only on columns frequently used in WHERE, JOIN, ORDER BY, GROUP BY.Internally, PostgreSQL usually builds a B-tree structure for fast lookups.

- Schema : A schema is like a **folder** (namespace). There can be multiple schemas in a single database and they can be inter used In PostgreSQL, it can contain:
    1. **Tables** â€“ main data storage.
    2. **Views** â€“ saved queries (virtual tables).
    3. **Indexes** â€“ speed up table queries.
    4. **Constraints** â€“ rules inside tables (PK, FK, UNIQUE, CHECK).
    5. **Sequences** â€“ counters for IDs.
    6. **Functions & Procedures** â€“ reusable business logic.
    7. **Triggers** â€“ actions that run automatically on table events (e.g., `BEFORE INSERT`).
    8. **Types** â€“ custom data types (e.g., `ENUM`).
    9. **Operators** â€“ custom operators.
    10. **Extensions** â€“ optional features (like `uuid-ossp` for UUIDs).

- the right hierarchy! ðŸ“Œ Database Structure Hierarchy
    1. Database Server Group *(pgAdmin concept)*
    - **Connect to server group**: GUI-based operations in pgAdmin
    - **Add new server**: Right-click â†’ Create â†’ Server
    - **Remove server**: Right-click â†’ Remove Server

    2. Database Server (Cluster)
        ```sql
        -- Connect to PostgreSQL server
        psql -h hostname -p port -U username

        -- Show server version
        SELECT version();

        -- Show server status
        SELECT pg_is_in_recovery();

        -- Show active connections
        SELECT * FROM pg_stat_activity;

        -- Show database sizes
        SELECT datname, pg_size_pretty(pg_database_size(datname)) 
        FROM pg_database;

        -- Restart/Stop server (system commands)
        sudo systemctl restart postgresql
        sudo systemctl stop postgresql
        sudo systemctl start postgresql
        ```

    3. Database
        ```sql
        -- Create database
        CREATE DATABASE database_name;

        -- List all databases
        \l
        -- or
        SELECT datname FROM pg_database;

        -- Connect to database
        \c database_name
        -- or
        psql -d database_name

        -- Drop database
        DROP DATABASE database_name;

        -- Show current database
        SELECT current_database();

        -- Database backup
        pg_dump database_name > backup.sql

        -- Restore database
        psql database_name < backup.sql
        ```

    4. Schemas
        ```sql
        -- Create schema
        CREATE SCHEMA schema_name;

        -- create schema with owner 
        CREATE SCHEMA schema_name AUTHORIZATION user_name;

        -- List all schemas
        \dn
        -- or
        SELECT schema_name FROM information_schema.schemata;

        -- Set search path (default schema)
        SET search_path TO schema_name, public;

        -- Show current search path
        SHOW search_path;

        -- Drop schema
        DROP SCHEMA schema_name CASCADE;

        -- Create table in specific schema
        CREATE TABLE schema_name.table_name (...);

        -- Grant schema permissions
        GRANT USAGE ON SCHEMA schema_name TO username;
        GRANT CREATE ON SCHEMA schema_name TO username;
        ```

    5. Tables
        ```sql
        -- Create table
        CREATE TABLE table_name (
            id SERIAL PRIMARY KEY,
            name VARCHAR(100) NOT NULL,
            email VARCHAR(255) UNIQUE,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );

        -- List all tables
        \dt
        -- or
        SELECT tablename FROM pg_tables WHERE schemaname = 'public';

        -- Describe table structure
        \d table_name
        -- or
        SELECT column_name, data_type, is_nullable 
        FROM information_schema.columns 
        WHERE table_name = 'table_name';

        -- Drop table
        DROP TABLE table_name;

        -- Alter table (add column)
        ALTER TABLE table_name ADD COLUMN new_column VARCHAR(50);

        -- Alter table (modify column)
        ALTER TABLE table_name ALTER COLUMN column_name TYPE new_type;

        -- Rename table
        ALTER TABLE old_name RENAME TO new_name;

        -- Show table size
        SELECT pg_size_pretty(pg_total_relation_size('table_name'));
        ```

    6. Rows
        ```sql
        -- Insert single row
        INSERT INTO table_name (column1, column2) 
        VALUES ('value1', 'value2');

        -- Insert multiple rows
        INSERT INTO table_name (column1, column2) 
        VALUES 
            ('value1', 'value2'),
            ('value3', 'value4');

        -- Select all rows
        SELECT * FROM table_name;

        -- Select with conditions
        SELECT * FROM table_name WHERE column1 = 'value';

        -- Update rows
        UPDATE table_name 
        SET column1 = 'new_value' 
        WHERE condition;

        -- Delete rows
        DELETE FROM table_name WHERE condition;

        -- Count rows
        SELECT COUNT(*) FROM table_name;

        -- Select with limit
        SELECT * FROM table_name LIMIT 10;

        -- Select with ordering
        SELECT * FROM table_name ORDER BY column1 DESC;
        ```

    7. Columns
        ```sql
        -- Add new column
        ALTER TABLE table_name ADD COLUMN column_name data_type;

        -- Drop column
        ALTER TABLE table_name DROP COLUMN column_name;

        -- Rename column
        ALTER TABLE table_name RENAME COLUMN old_name TO new_name;

        -- Change column data type
        ALTER TABLE table_name ALTER COLUMN column_name TYPE new_type;

        -- Set column default value
        ALTER TABLE table_name ALTER COLUMN column_name SET DEFAULT default_value;

        -- Remove column default
        ALTER TABLE table_name ALTER COLUMN column_name DROP DEFAULT;

        -- Set column NOT NULL
        ALTER TABLE table_name ALTER COLUMN column_name SET NOT NULL;

        -- Remove NOT NULL constraint
        ALTER TABLE table_name ALTER COLUMN column_name DROP NOT NULL;

        -- Add column constraint
        ALTER TABLE table_name ADD CONSTRAINT constraint_name 
        CHECK (column_name > 0);

        -- Show column information
        SELECT column_name, data_type, character_maximum_length, is_nullable, column_default
        FROM information_schema.columns 
        WHERE table_name = 'your_table_name';
        ```

        - Common Data Types for Columns
        ```sql
        -- Numeric types
        INTEGER, BIGINT, SMALLINT
        DECIMAL(precision, scale)
        NUMERIC(precision, scale)
        REAL, DOUBLE PRECISION

        -- Text types
        VARCHAR(n)
        TEXT
        CHAR(n)

        -- Date/Time types
        DATE
        TIME
        TIMESTAMP
        TIMESTAMPTZ

        -- Boolean
        BOOLEAN

        -- JSON
        JSON
        JSONB

        -- Arrays
        INTEGER[]
        TEXT[]

        -- UUID
        UUID
        ```

    - Useful Shortcuts in psql
        ```sql
        \l          -- List databases
        \c dbname   -- Connect to database
        \dt         -- List tables
        \d table    -- Describe table
        \dn         -- List schemas
        \du         -- List users
        \q          -- Quit psql
        \?          -- Help
        \h command  -- Help for specific SQL command
    ```