![image.png](attachment:image.png)
 

If there is w3 website provides better than here why the fuck is notes here separately ? 
 


# 1. SQL Language Categories 

- DDL (Data Definition Language): Defines and manages database structure. 

    CREATE: Creates a new database, table, index, or view. 

    ALTER: Modifies an existing table's structure (add, drop, or rename columns). 

    DROP: Removes a table or database and its data permanently. 

    TRUNCATE: Quickly removes all rows from a table without logging individual row deletions. 

- DML (Data Manipulation Language): Adds, updates, and deletes data within tables. 

    SELECT: Retrieves rows from one or more tables. 

    INSERT: Adds new rows to a table. 

    UPDATE: Modifies existing rows in a table. 

    DELETE: Removes specific rows based on a condition. 

- DCL (Data Control Language): Manages user permissions and security. 

    GRANT: Gives specific privileges to users. 

    REVOKE: Removes granted privileges. 

- TCL (Transaction Control Language): Controls transactional operations. 

    START TRANSACTION: Begins a new transaction. 

    COMMIT: Saves all changes made in the current transaction. 

    ROLLBACK: Reverts changes made in the current transaction. 

    SAVEPOINT: Sets a named point within a transaction for partial rollback.

---
---

2. Data Types 

- Character: CHAR(n) fixed, VARCHAR(n) variable, TEXT long text. 

- Numeric: INT/SMALLINT/BIGINT integers, DECIMAL(p,s) fixed-point, FLOAT/DOUBLE approximate. 

- Date & Time: DATE, TIME, DATETIME, TIMESTAMP, YEAR. 

    Functions to be learnt for handling date: 

    YEAR(date_column) 

    MONTH(date_column) 

    AND MONTH(birth_date) IN (2, 5, 12)  -- February=2, May=5, December=12 

    DAY(date_column) 

    DAYOFWEEK(date_column) 

    DAYNAME(date_column) 

    DATE_ADD(date_column, INTERVAL n DAY) 

    DATE_SUB(date_column, INTERVAL n DAY) 

    DATEDIFF(date1, date2) 

    DATE_FORMAT(date_column, '%Y-%m-%d') 

    CURDATE() 

    NOW() 

---
---

# 3. Clauses & Core Syntax 

- SELECT: Retrieve columns or expressions. 

Hereâ€™s a neat list of common operations and functions you can use in SQL when selecting or filtering a single column (in SELECT, WHERE, or HAVING): 

Text/String Functions:

    LOWER(column) â€” convert text to lowercase 

    UPPER(column) â€” convert text to uppercase 

    CONCAT(str1, str2) â€” combine strings 

    TRIM(column) â€” remove leading/trailing spaces 

    SUBSTRING(column, start, length) â€” get part of a string 

    LENGTH(column) â€” length of string 

    REPLACE(column, 'old', 'new') â€” replace substrin 

 

    COUNT(gender='M') counts all rows because the boolean expression is never NULL, so it behaves like COUNT(*). 
    SUM(gender='M') treats the boolean as 1 (true) or 0 (false), correctly counting how many have gender 'M'. 
    COUNT(CASE WHEN gender='M' THEN 1 END) also correctly counts rows where gender is 'M' by counting non-null values. 
    Use SUM(gender='M') or the CASE form to accurately count males. 
    Avoid using COUNT(gender='M') for this purpose because it counts all rows regardless of gender. 
    This distinction matters as COUNT() counts non-null values, while SUM() adds numeric boolean results. 

 

Numeric Functions 

    ROUND(column, n) â€” round to n decimal places 

    FLOOR(column) â€” round down to nearest integer 

    Perfect â€” here's your summary in two lines: 

    FLOOR(value) always drops the decimal, making it the next lowest whole number (e.g., 10.82 â†’ 10). 

    ROUND(value, d) rounds to the nearest at d decimals (e.g., 10.82 â†’ 10.8 with 1 decimal, â†’ 11 with 0). 

    

    CEIL(column) or CEILING(column) â€” round up to nearest integer 

    ABS(column) â€” absolute value 

    MOD(column, n) â€” remainder of division 

Date Functions 

    YEAR(column), MONTH(column), DAY(column) â€” extract parts of date 

    DATE_FORMAT(column, '%Y-%m-%d') â€” format date as string 

    DATE_ADD(column, INTERVAL n DAY) â€” add days (or other intervals) 

    DATE_SUB(column, INTERVAL n MONTH) â€” subtract intervals 

    DATEDIFF(date1, date2) â€” difference in days 
    Good question!      

    Even if you use ORDER BY at the end of your query to sort the final results, window functions like LAG() need their own explicit ORDER BY inside the OVER() clause to know the sequence for calculating values. 

    The ORDER BY inside OVER() tells LAG() which row comes before which, so it can fetch the previous dayâ€™s count correctly. 

    The final ORDER BY sorts the entire result set for display. 

    They serve two different purposes: 

    ORDER BY inside OVER() â†’ defines order for window calculation. 

    ORDER BY at the end â†’ defines order for the output rows. 

    Without the first one, LAG() wouldn't know the correct previous row. 

    Aggregates: SUM() OVER, AVG() OVER, etc. 

    Even if you use ORDER BY at the end of your query to sort the final results, window functions like LAG() need their own explicit ORDER BY inside the OVER() clause to know the sequence for calculating values. 

    The ORDER BY inside OVER() tells LAG() which row comes before which, so it can fetch the previous dayâ€™s count correctly. 

    The final ORDER BY sorts the entire result set for display. 

    They serve two different purposes: 

    ORDER BY inside OVER() â†’ defines order for window calculation. 

    ORDER BY at the end â†’ defines order for the output rows. 

    Without the first one, LAG() wouldn't know the correct previous row. 

    Aggregates: SUM() OVER, AVG() OVER, etc. 

    Even if you use ORDER BY at the end of your query to sort the final results, window functions like LAG() need their own explicit ORDER BY inside the OVER() clause to know the sequence for calculating values. 

    The ORDER BY inside OVER() tells LAG() which row comes before which, so it can fetch the previous dayâ€™s count correctly. 

    The final ORDER BY sorts the entire result set for display. 

    They serve two different purposes: 

    ORDER BY inside OVER() â†’ defines order for window calculation. 

    ORDER BY at the end â†’ defines order for the output rows. 

    Without the first one, LAG() wouldn't know the correct previous row. 

    Aggregates: SUM() OVER, AVG() OVER, etc. 
    CURDATE(), NOW() â€” current date or datetime 

Conditional & Null Handling 

    IF(condition, value_if_true, value_if_false) â€” inline if 

    CASE WHEN condition THEN result ELSE other END â€” complex conditions 

    COALESCE(column, default_value) â€” replace NULL with default 

    IFNULL(column, default_value) â€” same as COALESCE for two values 

    Boolean & Comparison in WHERE / HAVING 

    IS NULL / IS NOT NULL â€” check for nulls 

    IN (value1, value2, ...) â€” match list of values 

    LIKE 'pattern%' â€” pattern matching 

    BETWEEN val1 AND val2 â€” range check 

    We can right directly without case statement in the select like >30 so which ever greater ti will come as boolean true and remaing flase 

    Percentage & Conversion 

    Convert percentage to decimal: 

    column / 100.0 
      

    Convert decimal to percentage: 

    column * 100 
      

    Format decimal as percentage string: 

    CONCAT(ROUND(column * 100, 2), '%') 
      

    Example usage in SELECT: 
```sql
    SELECT 
      LOWER(first_name) AS first_lower, 
      ROUND(score, 1) AS score_rounded, 
      COALESCE(allergies, 'None') AS allergies_or_none, 
      CONCAT(ROUND(percentage * 100, 2), '%') AS percent_display 
    FROM patients 
    WHERE UPPER(status) = 'ACTIVE' 
      AND score >= 75 
    HAVING COUNT(*) > 1; 
  ```

 

    FROM: Specify source table(s). 

    WHERE: Filter rows before grouping. 

    GROUP BY: Group rows sharing values. 

    HAVING: Filter groups after aggregation. 

    ORDER BY: Sort the final result. 

    AND is invalid in ORDER BY; use a comma like ORDER BY LENGTH(first_name), first_name to sort by multiple columns. 

    Yes, you can write ORDER BY allergies ASC, first_name DESC, last_name ASC to sort with mixed directions. 

 

    Numeric Columns â€“ ORDER BY methods: 

    Ascending (default): ORDER BY column_name 
      

    Descending: ORDER BY column_name DESC 
      

    Absolute value (smallest magnitude first): ORDER BY ABS(column_name) 
      

    Nulls last (if supported):  ORDER BY column_name ASC NULLS LAST 
  

 

    String Columns â€“ ORDER BY methods: 

    Alphabetical A-Z (default): ORDER BY column_name 
      

    Reverse alphabetical Z-A: ORDER BY column_name DESC 
      

    By length of string: ORDER BY LENGTH(column_name) 
      

    Case-insensitive sort: ORDER BY LOWER(column_name) 
      

    Custom substring sort (e.g., by last 3 characters): ORDER BY RIGHT(column_name, 3) 
  

 

- LIMIT / TOP: Restrict row count. 

- DISTINCT: Remove duplicate rows. 

- PARTITION BY ... OVER: Define window partitions for functions. 


---
---


# 4. Operators & Expressions 

Comparison: = equal, <>/!= not equal, > < >= <=. 

Logical: AND, OR (Use WHERE allergies IN ('Penicillin', 'Morphine') â€” it's the correct one-line way to filter for either value.), NOT combine conditions. 

IN: Value is in a list (x IN (a,b,c)). 

Exactly! The correct syntax is IN without IS. 

IS is used for checking NULL values (like IS NULL or IS NOT NULL), but not with IN. 

If you write IS IN, it will cause a syntax error. 

 

BETWEEN: Inclusive range (col BETWEEN a AND b). 

LIKE: Pattern match with % and _. 

IS NULL / IS NOT NULL: Test for null values.

---
---


# 5. Pattern Matching Wildcards 

%: Zero or more characters. 

_: Exactly one character. 

Starts with 'a' and ends with 'z', any length: 'a%z' 

 Starts with 'm', exactly 5 characters long, ends with 'k': 'm___k' 

 Contains 'cat' anywhere: '%cat%' 

 Ends with 'ing': '%ing' 

 Starts with 'pre' and ends with 'ed': 'pre%ed' 

 Has exactly 4 characters and starts with 'b': 'b___' 

 Starts and ends with the same letter 'x', length at least 3: 'x%x' 

 Starts with 's', ends with 's', at least 6 characters: 's____%s' 

 Contains exactly 7 characters, starts with 't' and ends with 'r': 't____r' 

 Contains underscore character literally (with escape): '%\_%' 

SQL Server only: [abc], [^abc], [a-z]. 

LIKE in SQL can only match simple patterns using % and _, so it cannot validate character sets, enforce exact counts, or exclude invalid characters like # or multiple @ symbols. 

 REGEXP (or ~ in PostgreSQL) is a SQL feature that uses regular expressions to match complex patterns, allowing full control over character rules, positions, and repetitions in strings. 

regexp '^[A-Za-z][A-Za-z0-9._-]*@leetcode\\.com$'; 

Got it! Here's a general breakdown of common regex components and their typical rules â€” the general building blocks youâ€™ll often see in regexes, including the ones used in your email pattern: 

 

 

General Regex Components and What They Mean 

Regex Symbol / Construct 

Meaning / Rule 

Example 

^ 

Start of the string 

^abc matches "abc" at start 

$ 

End of the string 

xyz$ matches "xyz" at end 

. 

Any single character (except newline) 

a.c matches "abc", "a1c" 

[abc] 

Any one character inside brackets 

[abc] matches 'a' or 'b' or 'c' 

[a-z] 

Any one character in range 

[a-z] matches any lowercase letter 

[^abc] 

Any one character NOT inside brackets 

[^0-9] matches any non-digit 

* 

Zero or more of preceding token 

a* matches "", "a", "aa" 

+ 

One or more of preceding token 

a+ matches "a", "aa", but not "" 

? 

Zero or one of preceding token 

a? matches "" or "a" 

{n} 

Exactly n times of preceding token 

a{3} matches "aaa" 

{n,} 

At least n times 

a{2,} matches "aa", "aaa" 

{n,m} 

Between n and m times 

a{1,3} matches "a", "aa", or "aaa" 

\ 

Escape special character 

\. matches literal "." 

\d 

Digit [0-9] 

\d+ matches one or more digits 

\D 

Non-digit 

\D+ matches non-digits 

\w 

Word character [a-zA-Z0-9_] 

\w+ matches letters, digits, underscore 

\W 

Non-word character 

\W+ matches characters not in \w 

\s 

Whitespace character 

\s+ matches spaces, tabs 

\S 

Non-whitespace 

\S+ matches non-space chars 

(abc) 

Grouping / capture 

Captures "abc" for backreference 

` 

` 

Alternation (OR) 

 

 

How These Build Up Rules in Regex 

Anchors (^, $) force match to start/end of string, so partial matches are controlled. 

Character classes [ ... ] specify allowed or disallowed characters. 

Quantifiers (*, +, {n,m}) control how many times something appears. 

Escape sequences (\.) make special characters literal. 

Groups and alternations control complex logical patterns. 

 

Example: Your Email Regex Components 

^[A-Za-z] â†’ start with a letter (anchor + class) 

[A-Za-z0-9._-]* â†’ zero or more allowed chars (class + quantifier) 

@leetcode\.com$ â†’ exact domain, dot escaped, anchored at end

---
---

# 6. Window Functions 

- Ranking: ROW_NUMBER(), RANK(), DENSE_RANK(). 

- Buckets: NTILE(N) divides into N groups. 

- Navigation: LAG() previous, LEAD() next within partition. 

    Good question! 

    Even if you use ORDER BY at the end of your query to sort the final results, window functions like LAG() need their own explicit ORDER BY inside the OVER() clause to know the sequence for calculating values. 

    The ORDER BY inside OVER() tells LAG() which row comes before which, so it can fetch the previous dayâ€™s count correctly. 

    The final ORDER BY sorts the entire result set for display. 

    They serve two different purposes: 

    ORDER BY inside OVER() â†’ defines order for window calculation. 

    ORDER BY at the end â†’ defines order for the output rows. 

    Without the first one, LAG() wouldn't know the correct previous row. 

    Aggregates: SUM() OVER, AVG() OVER, etc.

---
---

# 7. Aggregate Functions 

- Aggregation functions can be used without GROUP BY to perform calculations over the entire result set. 

- COUNT(): Count rows. 

        Pandas: 
    ``` python 
    df[df['first_name'].value_counts()[df['first_name']] == 1]
    ```
    SQL: 
    ```sql
    SELECT first_name 
        FROM patients 
        GROUP BY first_name 
    HAVING COUNT(*) = 1 
    ```
    Or 
    ```sql
    select first_name 
    from(select first_name,count(first_name) as occurance from patients group by first_name) 
    where occurance=1 
    ```
    Both do the same thing: return rows where first_name occurs only once in the table or DataFrame. 

 

- SUM(): Sum values. 

- AVG(): Average. 

- MIN(), MAX(): Minimum, maximum.

---
---

# 8. Control Flow 

- CASE WHEN ... THEN ... ELSE ... END conditional logic 
    ```sql
      select  
        sum(case when gender = 'M' then 1 end) as male_count, 
        sum(case when gender = 'F' then 1 end) as female_count  
        from patients;
    ```

- IF(expr, true, false) shorthand in MySQL. 

- IFNULL(a,b), NULLIF(a,b) null handling.

---
---

# 9. Common Functions 

- String: CONCAT()  
    the CONCAT function in some SQL dialects but uses || as the concatenation operator.) 

    In MySQL, you canâ€™t use + to concatenate strings. Use CONCAT() instead. 

    Correct query: 
    ```sql
    SELECT CONCAT(UPPER(last_name), ',', LOWER(first_name)) AS full_name 
    FROM patients 
    ORDER BY first_name DESC; 
    ```
- REPLACE(), LENGTH(). 

- Numeric: ROUND(), CEIL(), FLOOR(). 

- Date/Time: NOW(), CURDATE(), DATEDIFF(), DATE_ADD().

---
---

# 10. Permissions & Transactions 

GRANT SELECT, INSERT ON db.table TO 'user'; 
REVOKE UPDATE ON db.table FROM 'user'; 
START TRANSACTION; 
UPDATE accounts SET balance = balance - 100 WHERE id = 1; 
UPDATE accounts SET balance = balance + 100 WHERE id = 2; 
COMMIT;

---
---


# 11. Joins & unions: 

JOINS 


 

Combine rows from two or more tables based on related columns. 

INNER JOIN: returns matching rows from both tables. 

LEFT JOIN: returns all rows from the left table + matched rows from right. 

RIGHT JOIN: returns all rows from the right table + matched rows from left. 

FULL JOIN: returns all rows from both tables, matched or not. 

CROSS JOIN: Cartesian product of both tables (all combinations). 

SELF JOIN: table joined to itself using aliases. 

JOINs are usually faster because they let the database optimize data retrieval using indexes and avoid repeated subquery executions. 

Exceptions include non-correlated subqueries, existence checks (EXISTS), or when filtering aggregates, where subqueries can be simpler or equally efficient. 

Always test and check query plans, as performance depends on data, indexes, and the database engineâ€™s optimizer. 

Alternative way of join 
 

SELECT first_name, last_name, count(*) 

From doctors p, admissions a 

Where a.attending_doctor_id = p.doctor_id 

group by p.doctor_id; 

To join multiple tables, use JOIN clauses one after another with ON conditions linking related keys â€” each JOIN pulls in more data into the combined result. For example..a.b.c 
if b is middle of both..then do like select from b and join a on b and c on b 

 

 

UNIONS 

Combine result sets from two or more SELECT queries. 

UNION: merges results and removes duplicates. 

UNION ALL: merges results including duplicates. 

CTE: 

ðŸ§  What is a CTE (Common Table Expression)? 

A CTE is a temporary, named result set defined using WITH that simplifies complex SQL by structuring it into logical blocks. 
It improves readability, reusability, and replaces deeply nested subqueries. 
CTEs are especially useful for filtering, joining, or aggregating intermediate data before the main query. 

ðŸ“Œ Example: Get patients with Epilepsy whose doctor is Lisa 

WITH epilepsy_patients AS ( 
  SELECT a.patient_id, p.first_name, p.last_name, a.attending_doctor_id 
  FROM patients p 
  JOIN admissions a ON p.patient_id = a.patient_id 
  WHERE a.diagnosis = 'Epilepsy' 
) 
SELECT ep.patient_id, ep.first_name, ep.last_name, d.specialty 
FROM epilepsy_patients ep 
JOIN doctors d ON ep.attending_doctor_id = d.doctor_id 
WHERE d.first_name = 'Lisa';

---
---

# Confusion Notes 




DELETE vs TRUNCATE vs DROP: DELETE is conditional and rollbackable; TRUNCATE is unconditional and non-logged; DROP removes structure. 

INSERT adds new rows, UPDATE changes existing rows. 

Actually, duplicates behave differently in primary keys and foreign keys: 

Primary key: 

 No duplicates allowed. Each value must be unique because it uniquely identifies each row. 

Foreign key: 

 Duplicates are allowed. A foreign key can have repeated values because many rows in the child table can reference the same row in the parent table. 

For example: 

If Customers.customer_id is a primary key, itâ€™s unique per customer. 

In the Orders table, the foreign key customer_id can appear multiple times because a single customer can place many orders. 

So: 

Primary key = unique, no duplicates 

Foreign key = can have duplicates 

Let me know if you want examples! 

Good question! Although SQLâ€™s logical order processes FROM and WHERE first, the expressions in the SELECT list (like FLOOR(weight / 10) * 10) are evaluated after the grouping (if any). 

Hereâ€™s how it works in your query: 

SQL first reads the FROM patients table. 

Then it groups rows based on the expression FLOOR(weight / 10) * 10 â€” so this expression must be evaluated for each row to decide its group. 

After grouping, SQL counts how many rows fall in each group (COUNT(*)). 

Finally, the SELECT outputs the grouped label (weight_group) and the count. 

 
 

Summary: 

The grouping expression (FLOOR(weight / 10) * 10) is evaluated early on each row to assign groups. 

Then aggregate functions (COUNT) work on these groups. 

So the FLOOR calculation happens before grouping and counting, even though it appears in SELECT. 

Itâ€™s a subtle difference between logical processing order and expression evaluation inside grouping. 

 

Dividing two integers in SQL returns an integer, dropping any decimal part (e.g., 175/100 = 1). 

To get a decimal result, divide by a float like 100.0 or cast a value to float using CAST(... AS FLOAT). 

So, for correct BMI, use weight / POWER(height / 100.0, 2) to ensure height is converted to meters as a decimal. 

 

 

Show the total amount of male patients and the total amount of female patients in the patients table. 
Display the two results in the same row. 

SELECT  

  (SELECT count(*) FROM patients WHERE gender='M') AS male_count,  

  (SELECT count(*) FROM patients WHERE gender='F') AS female_count; 

SELECT  

  SUM(Gender = 'M') as male_count,  

  SUM(Gender = 'F') AS female_count 

FROM patients 

select  

  sum(case when gender = 'M' then 1 end) as male_count, 

  sum(case when gender = 'F' then 1 end) as female_count  

from patients; 

Show patient_id, diagnosis from admissions. Find patients admitted multiple times for the same diagnosis. 

To select a default value coloumn set by you select first_name,last_name,'Doctor' as role from doctors 

COUNT() never returns NULL, so checking total_diagnosis IS NOT NULL isnâ€™t needed. Just filter with WHERE allergies IS NOT NULL before grouping. Where should come before groupby...if not we can use having like allergies is not null 

Show all columns for patient_id 542's most recent admission_date. 

display the first name, last name and number of duplicate patients based on their first name and last name. 

Show patient_id, first_name, last_name from patients whose does not have any records in the admissions table. (Their patient_id does not exist in any admissions.patient_id rows.) 

Sort the province names in ascending order in such a way that the province 'Ontario' is always on top. 

 

SQL Writing Order 

SQL Execution Order 

1. SELECT 

1. FROM 

2. FROM 

2. JOIN 

3. JOIN 

3. WHERE 

4. WHERE 

4. GROUP BY 

5. GROUP BY 

5. HAVING 

6. HAVING 

6. SELECT 

7. ORDER BY 

7. ORDER BY 

8. LIMIT / OFFSET (if any) 

8. LIMIT / OFFSET (if any) 

âœ… Quick Tip: 

Writing order is how you must structure the SQL query. 

Execution order is how the database engine logically processes it to return the result. 

Summary: 

The grouping expression (FLOOR(weight / 10) * 10) is evaluated early on each row to assign groups. 

Then aggregate functions (COUNT) work on these groups. 

So the FLOOR calculation happens before grouping and counting, even though it appears in SELECT. 

Itâ€™s a subtle difference between logical processing order and expression evaluation inside grouping. 

 

2. WHERE vs. HAVING 

WHERE is used to filter rows before any grouping takes place. 

Error: WHERE cannot be used with aggregate functions like COUNT() 

ON w1.recordDate = w2.recordDate + INTERVAL 1 DAY: Ensures that we are comparing each row with the previous day's row. This condition matches w1 with w2 where w1's recordDate is exactly one day after w2's recordDate. 

 

The order of execution is: 

FROM table1: Specify the table to retrieve data from. 

JOIN table2 ON table1.id = table2.id: Combine data from table1 and table2 based on the join condition. 

WHERE column3 > 100: Filter rows based on the condition. 

GROUP BY column1: Group the filtered rows by column1. 

HAVING MAX(column2) < 500: Filter groups based on the aggregate condition. 

SELECT DISTINCT column1, MAX(column2): Specify columns and apply aggregate functions. 

ORDER BY column1: Sort the result set based on column1. 

LIMIT 10: Limit the number of rows returned to 10. 

This logical order ensures that the query processes data correctly and efficiently. 

 

ORDER BY d.name, e.salary DESC; 

SELECT name, age, salary 

FROM employeesORDER BY age ASC, salary DESC; 

Can we multiple coloumns to do the things 

The DISTINCT keyword applies to the entire row returned by the SELECT statement, not to individual columns. 

Joins not need NO every time they can be combined with where condition too.When you omit the ON clause in an INNER JOIN, it effectively becomes a cross join (Cartesian product) between the two tables, and then the WHERE clause acts as the join condition. 

here's a general efficiency order: 

Joins 

Non-correlated subqueries 

Correlated subqueries 

ROW_NUMBER() assigns sequential numbers to rows based on a specified order. In ROW_NUMBER() OVER (ORDER BY id) AS row_num, it numbers rows by id, creating a date-like sequence for comparing adjacent records. 

Lag vs lead vs first_value vs last_value 

ðŸ›¢ SQL Window Functions (FIRST_VALUE, LAST_VALUE) Explained (Part 4/4) 

 

Result set:  

GROUP BY: Reduces the number of rows, returning one row per group. 

PARTITION BY: Maintains the original number of rows, adding calculated values to each row. 

 

GROUP BY: Requires an aggregation function (like MIN, MAX, COUNT) for non-grouped columns. 

PARTITION BY: Can use window functions (like ROW_NUMBER, RANK) or aggregations over the partition. 

 

 
 

All null rules to know: 

â“ Is NULL (or NaN) considered less than 1000? 

No. 
In SQL, NULL represents an unknown value, and any comparison with NULL (like < 1000) results in NULL, which is treated as false in a WHERE clause. 

Date_add vs Date_sub and how sub handles first row 
DATE_SUB generates a previous date for the first row, but the subquery returns NULL as no such record exists. SQL treats the NULL comparison as false in the WHERE clause, automatically excluding the first row from the result without error. 

 

In SQL, the correct way to check for NULL values is to use IS NULL instead of = NULL. This is because NULL represents an unknown value, and comparisons with NULL using = will always return false. 

You can't use agg function inside another agg funcction